/* requested code for proj2 */
/* purpose:Basic style sheet for web proj 2 
Author: jon joly ii*/



/* css resets */
body,h1,h2,h3,p{
    margin:0;
    text-align: center;
}

body{
    background-color: hsl(0, 11%, 88%);
    font-family: 'Montserrat', sans-serif;
}

.top_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(7, 53, 106, .9);
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: solid 4px rgba(14, 13, 13, 0.265);
    border-radius: 0px 0px 15px 15px;
    z-index: 1;
  }


header{
    margin-top: 50px;
}

h1{
    margin-bottom: 20px;
}

p{
    text-align: left;
    font-weight: 545;
    padding: 10px;
    margin-left: 100px;
    margin-right: 110px;
}

hr{
    width: 80%;
}

iframe{
    padding: 25px;
    margin: 0px;
}

footer{
    text-align: center;
    font-style: italic;
}

.navbarlinks:hover{
color: lightslategray;
text-decoration: none;
}
.navbarlinks{
    color: rgb(223, 217, 217);
    font-size: 1.2rem;
  }
  .footnavbarlinks:hover{
    color: lightslategray;
    text-decoration: none;
}
  .footnavbarlinks{
    color: #000;
    padding: 3px;
    font-size: 1.2rem;

}



.imgtrophy{
    border-radius: 5%;
    border: 1px solid black;
}

.imgcontainer{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}
.imgs{
    max-width: 600px;
    width: 90%;
    border: 2px solid black;
    border-radius: 15%;
    background-color: black;
}

.imgplayoff{
    /* justify-content: space-between; */
    width: 25%;
    height: 20%;
}

.divisions{
    margin-top: 30px;
}

.validate{
    color: black;
}

#player {
    margin: auto;
    border: 3px solid #333;
    padding: 10px;
  }

#nfllogocontainer{
    max-width: 150px;
    margin-left: 45%;
}
#nfllogo{
    width: 150px;
    max-width: 150px;

}

#backimg{
    background-image: url(/images/footballwithlogo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width:100%;
   height: 100%;
    z-index: -1;
    opacity: 0.3; 
}

#linkmail{
    color: rgb(7, 53, 106, .9);
    font-size: 1em;
}

#superbowlfooter{
    padding-top: 100px;
}

/* responsive img class */
img.responsive{
    max-width: 100%;
    height: auto;
}
header,main{
    padding: 10px;
    width: 100%;
}
nav{
    padding: 10px;
    border-bottom: 1px solid #000;
    width: 100%;
}
footer{
    padding: 10px;
    border-top: 1px solid #000;
    width: 100%;
    text-align: center;
}


@media only all and (max-width:768px){

#backimg{
    background-size: contain;
    background-repeat: repeat-y;
}

    p{
        text-align: center;
        padding: 15px;
        margin-left: 30px;
        margin-right: 30px;
    }

    #nfllogocontainer{
        max-height: 150px;
    display: flex;
    margin-left: 35%;
    }

    #superbowlfooter{
        padding-top: 20px;
    }

}

